<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Bluetooth" version="1.0.0" viewmodes="maximized">
    <tizen:application id="8kcJ06lUTC.Bluetooth" package="8kcJ06lUTC" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/network.bluetooth"/>
    <feature name="http://tizen.org/feature/network.bluetooth.le"/>
    <icon src="icon.png"/>
    <name>Bluetooth</name>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
