/* Formatting the html and body elements to have a width and height of 100% with no margins*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
}
/*Overwritting the ui-content class for the section tag*/
.ui-content section {
	overflow: hidden; /*clips the overflow and hides the rest of content*/
	overflow-y: auto; /*adds a veritcal scrollbar when necessary*/
}

/*
* Formatting the ui-btn class under the ui-popup-footer class under the ui-popup class
* Positioning the button and formatting the text color to white
*/
.ui-popup .ui-popup-footer .ui-btn {
	top: -150%;
	color: white;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}
/*
*
*/
.container {
	background-size: cover;
	/* Resize the background image to cover the entire container */
	background-position: center; /* Center the image */
	background-image: url("/images/goofyBlur.jpg");
	/*Set background image through the url*/
	color: #fff; /*set text color to white*/
	height: 100%;
	text-align: center;
	overflow-y: auto; /*adds vertical scroll bar when needed*/
	margin-bottom: 260px;
}
/*Formats the No Message String*/
.noMsgs {
	color: #FF9C39; /*Orange color hex value*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	/*Gives the text a bordered effect*/
	font-weight: bold; /*bold font*/
	font-size: 60px;
	line-height: 340px;
	top: 60px; /*postion the message from top*/
}
/*Fromats the Message Sender name text*/
.msgFrom {
	text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
	/*Adds a shadow effect to the text*/
	font-weight: bold;
	width: 360px;
	height: 120px;
	font-size: 45px;
	line-height: 180px;
	color: #FF9C39; /*Orange color hex value*/
}
/*Formats the message text*/
.msg {
	font-size: 24px;
	margin-bottom: 20px;
}
/*Formats the container that has the message*/
.msgContainer {
	width: 320px;
	flex-direction: column;
	/*The flexible items inside the container are displayed vertically, as a column*/
	align-items: flex-start;
	/*The felxible items inside the container are positioned at the beginning of it*/
	display: -webkit-flex;
	-webkit-align-items: center;
	/*background: rgba(150, 222, 82, 0.75);*/
	background-color: #96DE52; /*Sets the background color to green*/
	border: 2px solid green;
	/*Set the borders color to grean with a width of 2px*/
	border-radius: 5%; /*Makes the borders round with a radius of 5%*/
	margin-left: 20px;
}
/*Formats the checkbox and set the checkbox image proporties*/
input[type="checkbox"] {
	width: 40px;
	height: 40px;
	-webkit-appearance: none;
	-webkit-mask-image: url('../image/checkbox_bg.png');
	-webkit-mask-size: 40px 40px;
	-webkit-mask-repeat: no-repeat;
	background-color: rgba(112, 186, 15, 1);
}


/*Formats the img tag*/
img {
	opacity: 0.95; /*Adds opacity*/
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
	position: relative;
	background-color: #fff !important;
	/* Add the blur effect */
	filter: blur(2px);
	-webkit-filter: blur(2px);
	background-attachment: fixed;
	background-repeat: repeat-y;/*Repeats the image vertically when needed*/
	
	/* background-size: cover; /* Resize the background image to cover the entire container */
	/* 	background-position: center; /* Center the image */
	/*	background-repeat: no-repeat; /* Do not repeat the image */
}

.bg {
	background-color: #fff !important;/*makes the background color as white*/
}

/**************SOS Button****************/
/*css to style the SOS button*/
button.SOSbutton {
	opacity: 0.85;
	position: absolute;
	left: 30%;
	top: 40%;
	text-align: center;
	outline: none;
	font-family: 'helvetica neue' sans-serif;
	font-size: 1em;
	color: hsla(350, 0%, 100%, 1);
	text-shadow: -1px -1px 1px hsla(350, 0%, 0%, 0.7), 1px 1px 1px
		hsla(350, 0%, 100%, 0.3);
	display: block;
	padding: 23px 37px 25px 35px;
	cursor: pointer;
	background-color: hsla(350, 80%, 10%, 1);
	background-image: linear-gradient(273deg, hsla(350, 80%, 60%, 1) 30%,
		hsla(350, 80%, 50%, 1) 40%);
	border: none;
	border-radius: 16px;
	box-shadow: inset 0px 0px 1px 1px hsla(350, 80%, 30%, 0.9), inset 0px
		0px 2px 3px hsla(350, 80%, 50%, 0.9), inset 1px 1px 1px 4px
		hsla(350, 80%, 100%, 0.8), inset 0px 0px 2px 7px
		hsla(350, 80%, 60%, 0.8), inset 0px 0px 4px 10px
		hsla(350, 80%, 50%, 0.9), 8px 10px 2px 6px hsla(350, 80%, 20%, 0.55),
		0px 0px 3px 2px hsla(350, 80%, 40%, 0.9), 0px 0px 2px 6px
		hsla(350, 80%, 50%, 0.9), -1px -1px 1px 6px hsla(350, 80%, 100%, 0.9),
		0px 0px 2px 11px hsla(350, 80%, 50%, 0.9), 0px 0px 1px 12px
		hsla(350, 80%, 40%, 0.9), 1px 3px 14px 14px hsla(350, 80%, 0%, 0.4);
}
/*css to style the SOS button when pressing it to show a pressed button effect*/
button.SOSbutton:active {
	color: hsla(350, 0%, 85%, 1);
	padding: 26px 34px 22px 38px;
	background-image: linear-gradient(273deg, hsla(350, 80%, 50%, 1) 50%,
		hsla(350, 80%, 55%, 1) 60%);
	box-shadow: inset 3px 4px 3px 2px hsla(350, 80%, 20%, 0.55), inset 0px
		0px 1px 1px hsla(350, 80%, 30%, 0.9), inset -1px -1px 2px 3px
		hsla(350, 80%, 50%, 0.9), inset -2px -2px 1px 3px
		hsla(350, 80%, 100%, 0.8), inset 0px 0px 2px 7px
		hsla(350, 80%, 60%, 0.8), inset 0px 0px 3px 10px
		hsla(350, 80%, 50%, 0.9), 0px 0px 3px 2px hsla(350, 80%, 40%, 0.9),
		0px 0px 2px 6px hsla(350, 80%, 50%, 0.9), -1px -1px 1px 6px
		hsla(350, 80%, 100%, 0.9), 0px 0px 2px 11px hsla(350, 80%, 50%, 0.9),
		0px 0px 1px 12px hsla(350, 80%, 40%, 0.9), 1px 3px 14px 14px
		hsla(350, 80%, 0%, 0.4);
}

/************Watch css***************/
/*Formats the element with digital-body id postion*/
#digital-body {
	position: absolute;
	top: 30%;
	left: 35%;
}

/*Class used to add a shadow effect to text*/
.borderdText {
	text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.4);
	font-weight: bold;
}

/*Formats the battery borders position,size and color through the batter-rec id*/
#battery-rec {
	position: absolute;
	width: 10%;
	height: 5%;
	top: 15%;
	left: 63%;
	border: solid 2px black;
}
/*Formats the battery fill position,size and color through the batter-fill id*/
#battery-fill {
	position: absolute;
	width: 11%;
	height: 5%;
	top: 15%;
	left: 63%;
	z-index: 10;
	background-color: black;
}

/*Formats the time postion, color and size*/
#rec-time {
	position: absolute;
	padding-top: 5%;
	width: 80%;
	top: 35%;
	left: 12%;
}

#str-hours {
	font-size: 300%;
	float: left;
	color: black;
}

#str-console {
	font-size: 300%;
	float: left;
	color: black;
}

#str-minutes {
	font-size: 300%;
	float: left;
	color: black;
}

#str-ampm {
	font-size: 100%;
	color: black;
	padding-top: 20%;
	padding-left: 65%;
}

/*Formats the string day & month postion color and size*/
#rec-string-time {
	position: absolute;
	width: 100%;
	top: 75%;
	left: 24%;
}

#str-day {
	font-size: 125%;
	color: black;
	float: left;
}